

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


@media screen and (max-width: 768px) {
    
  }
  
@media screen and (min-width: 769px) {

  }
  

body {
    font-family: 'Crimson Text', serif;
    background-color: #fffbde;
}

/* Enlaces */
a:link {
    color: #D99962;
}

a:hover {
    color: #F26835;
}

/* Diseño menú */
.colorFondoEspecial {
    background-color:#F2CEA2;
}

.colorPersonalizadoLinks {
    color: #c14d06;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.navbar-brand {
    margin-left: 3rem;

}

.custom-navbar {
    background-color: #FF5733;
}

/* Diseño página index */
/* Área del banner */

.banner {
    background-image: url('./assets/fotos logobanner/banner2.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0; /* Ajusta el espaciado superior e inferior según tus necesidades */
  }

.banner h1 {
    font-size: 36px;
    margin: 0;
  }
  
.banner p {
    font-size: 18px;
  }
  

.banner-container {
    position: relative;
    text-align: left;
}

.banner-img {
    width: 100%;
    max-height: 100%;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav > li > a {
    margin-right: 15px;
}

/*Animación*/

html{
    min-height: 100%;
    overflow: hidden;
  }
 
  .line-1{
      position: relative;
      top: 50%;  
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

/* Cambiar color en los enlaces */
.navbar-nav > li > a {
    color: #D99962;
    margin-right: 15px; /
}

.navbar-nav > li > a:hover {
    color: #F26835;
}

/* Diseño página index */
/* Área del banner */
.banner-container {
    position: relative;
    text-align: left;
}

.banner-img {
    width: 100%;
    max-height: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: #fffbde;
    padding: 20px;
    color: #c14d06;
}


/* Área de introducción */
.bg-custom {
    background-color: #F2EDD5;
    padding-bottom: 20px;
    border-radius: 10px;
}

/* Pilares*/

.img-fluid {
    max-width: 100%; 
    height: auto; 
}



/* Diseño página conozcanos */
.img-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.agregandoPadding {
    padding-left: 5px;
    padding-right: 5px;
}

/* Diseño página mapa */
.map-container {
    position: relative;
    padding-bottom: 75%; 
    overflow: hidden;
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  



/* Diseño página contactenos */
.colorPaletaEspecial {
    background-color: #F26835;
    border-color: #F26835;
    color: #fff;
}

footer {
    background-color: #F2CEA2;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

/* Enlaces en el footer */
footer a:link {
    color: #D99962;
}

footer a:hover {
    color: #F26835;
}


