@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');


//mobile// 

@media (max-width: 768px) {

  .navbar-brand img {
    max-width: 80px; 
  }
  .textoBanner {
    font-size: 18px; 
  }

  .secondary-text {
    font-size: 14px; 
    max-width: 100%;
  }

  .carousel-caption h1 {
    font-size: 24px; 
  }
  .carousel-caption p {
    font-size: 14px; 
  }
  .carousel-control-prev, .carousel-control-next {
    font-size: 20px; 
  }

.centered-image {
  width: 100%;
  height: auto;
}
.footerIndex {
  position: absolute;
  bottom: 0;
  width: 100%;
}

}

  
 //Variables// 
 $color_fondo: #D99962;
 $color_links: #F26835;
 $color_fondo_cartas: #faddac;



body {
  font-family: 'Oswald', sans-serif;
  background-color: #fffbde;
}

/* Enlaces */
a:link {
    color:  $color_fondo;
}

a:hover {
    color:$color_links;
}

/* Diseño barra menú general */
.colorFondoEspecial {
    background-color:#F2CEA2;
}

.colorPersonalizadoLinks {
    color: #c14d06;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;

}
.navbar-brand {
    margin-left: 3rem;

}

.custom-navbar {
    background-color: #FF5733;
}

/* Cambiar color en los enlaces */
.navbar-nav > li > a {
    color: #D99962;
    margin-right: 15px;
}

.navbar-nav > li > a:hover {
    color: #F26835;
}


/* Diseño página index */
/* Área del banner */

.banner {
    background-image: url('./assets/fotos logobanner/banner3.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }

.banner h1 {
    font-size: 36px;
    margin: 0;
  }
  
.banner p {
    font-size: 18px;
  }
  

.banner-container {
    position: relative;
    text-align: left;
}

.banner-img {
    width: 100%;
    max-height: 100%;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav > li > a {
    margin-right: 15px;
}


/*Animación*/

.linia-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.secondary-text-container {
  opacity: 0;
  text-align: center;
  animation: fadeIn 2s forwards 5s;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
  transform: translateY(-50%);
  margin-bottom: 1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .anim-typewriter {
    animation: none !important;
  }
}



 /* Área del banner */
.banner-container {
    position: relative;
}

.banner-img {
  max-width: 100% ;
  height: auto ;
}

.textoBanner {
    margin-top: 30px;
    background-color: #fffbde;
    color: #c14d06;
}


/* Área de introducción */
.bg-custom {
    background-color: #F2EDD5;
    padding-bottom: 20px;
    border-radius: 10px;
}


/* Estilo para los separadores */
.featurette-divider {
    border-top: 2px solid #ddd;
    margin: 40px 0; 
}


/* Diseño página conozcanos */

/*Estilo del encabezado*/
.cover-heading {
  color: #000;
  position: relative;
  text-decoration: none;
}

.cover-heading::before {
  background: hsl(36, 72%, 69%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.cover-heading:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.cardConozcanos {
  margin: auto;
  max-width: 600px; 
  padding: 20px;
  margin-bottom: 60px;
}

.cardConozcanos-body {
  text-align: left; 
}


/*Carrusel*/
  
  /* Base class */
  .carousel {
    margin-bottom: 4rem;
  }

  .centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: auto;
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
  }
  

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  
  .featurette-divider {
    margin: 5rem 0; 
  }
  
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE */
  
  @media (min-width: 40em) {

    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }


// texto de Historia//


.paragraph-box {
  border: none; 
  padding: 20px;
  background-color: $color_fondo_cartas; 
  border-radius: 5%;
  
}


.product-card {
  border-radius: 14px;
  background: #fbedc0;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: auto;
  box-sizing:border-box ;

  .header {
      position: absolute;
      z-index: 1;
      top: 5px;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 100%;
      padding: 0.75rem;
      
      p {
          color: $color_fondo_cartas;
          font-size: 12px;
          margin: inherit;
          text-transform: uppercase;
          position: absolute;
          text-align: center;
      }
      h4 {
          color: $color_fondo_cartas;
          margin: inherit;
          text-transform: none;
          font-size: 1.25rem;
          font-weight: 600;
      }
  }
  .card-img {
      margin: 0px auto;
      position: relative;
      overflow: hidden;
      max-width: 100%;
      transition: transform 250ms ease 0ms, opacity 200ms ease-in 0ms;
      img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          display: block;
          max-width: 100%;
      }
  }
}


/*reviews*/

.testimonial{
  margin: 0 20px 40px;
}
.testimonial .testimonial-content{
  padding: 35px 25px 35px 50px;
  margin-bottom: 35px;
  background: #fff;
  position: relative;
}
.testimonial .testimonial-content:before{
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  border-top: 15px solid #718076;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.testimonial .testimonial-content:after{
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  border-top: 15px solid #718076;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.testimonial-content .testimonial-icon{
  width: 50px;
  height: 45px;
  background: #f38030;
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 42px;
  position: absolute;
  top: 37px;
  left: -19px;
}
.testimonial-content .testimonial-icon:before{
  content: "";
  border-bottom: 16px solid #f38030;
  border-left: 18px solid transparent;
  position: absolute;
  top: -16px;
  left: 1px;
}
.testimonial .description{
  font-size: 15px;
  font-style: italic;
  color: #8a8a8a;
  line-height: 23px;
  margin: 0;
}
.testimonial .title{
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #525252;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
.testimonial .post{
  display: block;
  font-size: 14px;
  color:#f38030;
}
.owl-theme .owl-controls{
  margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
  background: #ccc;
  opacity: 1;
  transition: all 0.4s ease 0s;
}

/* Diseño página contactenos */


.colorPaletaEspecial {
  background-color: #F26835;
  border-color: #F26835;
  color: #fff;
}

.colorBotonReset {
  background-color:#faddac; 
  color: #fff;
}


//página Antojitos//

.cardMenu {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardMenu img {
  max-width: 90%;
  height: auto;
}

.cardMenu .card-body {
  padding: 20px;
}

  /*  texto de las cartas */

.cardMenu h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.cardMenu .card-text {
  font-size: 1rem;
  color: #555;
}


/*FOOTER*/
footer {
  background-color: #F2CEA2;
  padding: 2em 0; 
}

footer .list-unstyled li {
  margin-bottom: 0.5em;
}

/* Enlaces en el footer */
footer a:link {
  color: #D99962;
}

footer a:link,
footer a:hover {
  color: #D99962;
  text-decoration: none; 
}

footer .container-fluid {
  display: flex;
  justify-content: center; 
  column-gap: 10px;
}


/*Página de Error*/

.error-container {
  
  text-align: center;
}

/* Estilo del botón */
.error-btn {
  background-color:$color_fondo_cartas;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none; 
  border: none; 
  border-radius: 5px; 
}

/* Hover del botón */
.error-btn:hover {
  background-color: #F26835; 
  color: #fff; 
}

