@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

@media screen and (max-width: 768px) {
  // Estilos para pantallas con ancho máximo de 768px
}

@media screen and (min-width: 769px) {
  // Estilos para pantallas con ancho mínimo de 769px
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #fffbde;
}

// Enlaces
a:link {
  color: #D99962;
}

a:hover {
  color: #F26835;
}

// Diseño barra de menú general
.colorFondoEspecial {
  background-color: #F2CEA2;
}

.colorPersonalizadoLinks {
  color: #c14d06;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  margin-left: 3rem;
}

.custom-navbar {
  background-color: #FF5733;
}

// Cambiar color en los enlaces
.navbar-nav > li > a {
  color: #D99962;
  margin-right: 15px;
}

.navbar-nav > li > a:hover {
  color: #F26835;
}

// Diseño página index
// Área del banner
.banner {
  background-image: url('./assets/fotos logobanner/banner3.png');
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 0;

  h1 {
    font-size: 36px;
    margin: 0;
  }

  p {
    font-size: 18px;
  }
}

.banner-container {
  position: relative;
  text-align: left;
}

.banner-img {
  width: 100%;
  max-height: 100%;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav > li > a {
  margin-right: 15px;
}

// Animación
.linia-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 24em;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, .75);
    }
    to {
      border-right-color: transparent;
    }
  }
}

.secondary-text-container {
  opacity: 0;
  text-align: center;
  animation: fadeIn 2s forwards 5s;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  overflow: hidden;
  transform: translateY(-50%);
  margin-bottom: 1em;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

// Área de introducción
.bg-custom {
  background-color: #F2EDD5;
  padding-bottom: 20px;
  border-radius: 10px;
}

// Estilo para los separadores
.featurette-divider {
  border-top: 2px solid #ddd;
  margin: 40px 0;
}

// Diseño página conózcanos
// Estilo del encabezado
.cover-heading {
  color: #000;
  position: relative;
  text-decoration: none;

  &::before {
    background: hsl(36, 72%, 69%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}

// Carrusel
.carousel {
  margin-bottom: 4rem;

  .centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: auto;
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;

    p {
      margin-right: 0.75rem;
      margin-left: 0.75rem;
    }
  }

  .featurette-divider {
    margin: 5rem 0;
  }

  .featurette-heading {
    letter-spacing: -0.05rem;
  }

  // RESPONSIVE
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
}

// Área de Historia
.custom-border {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.textoEspecial {
  padding: 10px;
}

.custom-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imagenesEspeciales {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: filter 0.5s;
  max-width: 50%;
  height: auto;

  &:hover {
    filter: none;
  }

  &.grayscale {
    filter: grayscale(100%);
  }

  .image-wrapper:hover & {
    filter: grayscale(0%);
  }
}

// Diseño página contáctenos
.colorPaletaEspecial {
  background-color: #F26835;
  border-color: #F26835;
  color: #fff;
}

// Reviews
.testimonial {
  margin: 0 20px 40px;

  .testimonial-content {
    padding: 35px 25px 35px 50px;
    margin-bottom: 35px;
    background: #fff;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -30px;
      left: 0;
      border-top: 15px solid #718076;
      border-left: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -30px;
      right: 0;
      border-top: 15px solid #718076;
      border-right: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    .testimonial-icon {
      width: 50px;
      height: 45px;
      background: #f38030;
      text-align: center;
      font-size: 22px;
      color: #fff;
      line-height: 42px;
      position: absolute;
      top: 37px;
      left: -19px;

      &::before {
        content: "";
        border-bottom: 16px solid #f38030;
        border-left: 18px solid transparent;
        position: absolute;
        top: -16px;
        left: 1px;
      }
    }

    .description {
      font-size: 15px;
      font-style: italic;
      color: #8a8a8a;
      line-height: 23px;
      margin: 0;
    }

    .title {
      display: block;
      font-size: 18px;
      font-weight: 700;
      color: #525252;
      text-transform: capitalize;
      letter-spacing: 1px;
      margin: 0 0 5px 0;
    }

    .post {
      display: block;
      font-size: 14px;
      color: #f38030;
    }
  }

  .owl-theme .owl-controls {
    margin-top: 20px;
  }

  .owl-theme .owl-controls .owl-page span {
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
  }
}

// FOOTER
footer {
  background-color: #F2CEA2;
  padding: 2em 0;

  .list-unstyled li {
    margin-bottom: 0.5em;
  }

  // Enlaces en el footer
  a:link,
  a:hover {
    color: #D99962;
    text-decoration: none;
  }

  .container-fluid {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
}

// Página de Error
.error-container {
  text-align: center;
}
