

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body{
    font-family: 'Crimson Text', serif;
    background-color: #fffbde;
}

/* Diseño menú */

.colorFondoEspecial{
    background-color:#fffbde;
}

.colorPersonalizadoLinks{
    color: #c14d06;
    
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.navbar-brand {
    margin-left: 3rem; 
  }

/* diseño página index */

    /* área del banner */

    .banner-container {
        position: relative;
        text-align: left;
    }

    .banner-img {
        width: 100%;
        max-height:100%; 
        
    }
    .text-overlay {
        position: absolute;
        top: 50%; 
        left: 30%; 
        transform: translate(-50%, -50%); 
        background-color: rgba(255, 255, 255, 0.746); 
        padding: 20px; 
        color: #c14d06;
    }

 /* diseño página conozcanos */

 .img-fluid {

    padding-left: 5px;
    padding-right: 5px;

}

.agregandoPadding{

    padding-left: 5px;
    padding-right: 5px;
}