

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body{
    font-family: 'Crimson Text', serif;
    background-color: #fffbde;
}

/* Diseño menú */

.colorFondoEspecial{
    background-color:#fffbde;
}

.colorPersonalizadoLinks{
    color: #c14d06;
    
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.navbar-brand {
    margin-left: 3rem; 
  }

/* diseño página index */

    /* área del banner */

    .banner-container {
        position: relative;
        text-align: left;
    }

    .banner-img {
        width: 100%;
        max-height:100%; 
        
    }
    .text-overlay {
        position: absolute;
        top: 50%; /* Coloca el texto en el centro vertical */
        left: 30%; /* Coloca el texto en el centro horizontal */
        transform: translate(-50%, -50%); /* Centra el texto */
        background-color: rgba(255, 255, 255, 0.746); /* Fondo semitransparente para el texto */
        padding: 20px; /* Espaciado interno para el texto */
        color: #c14d06; /* Color del texto */
    }